@import "tailwindcss";

body {
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-raleway);
  color: #3C3C3C;
  background: #F6FAFF;
  background-size: cover;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-montreal {
  font-family: var(--font-neue-montreal);
}

.text-primary {
  color: #4A26FF;
}

.text-gray {
  color: #333B45;
}

.text-light-blue {
  color: #81C3FF;
}

.text-blue {
  color: #0085FF;
}

.text-dark {
  color: #0E0E0E;
}

.text-black {
  color: #000;
}

.text-pink {
  color: #E1D4F8;
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 24px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.px-80 {
  padding-right: 80px;
  padding-left: 80px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-40 {
  padding-bottom: 40px;
}

.bg-blue {
  background-color: #0085FF;
}

.bg-pink {
  background-color: #DFE2FF;
}

.bg-offwhite {
  background-color: #F6FAFF;
}

.bg-gray {
  background-color: #FFFFFF4D;
}

.bg-light-gray {
  background-color: #F0F7FF;
}

.bg-dark-gray {
  background-color: #85A7D04D;
}

.bg-light-black {
  background-color: #242424;
}

.shadow-primary {
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.10);
}

.shadow-secondary {
  box-shadow: 0 39px 33.2px -31px rgba(133, 167, 208, 0.33);
}

.shadow-down {
  box-shadow: 0 39px 33.2px -31px rgba(133, 167, 208, 0.33);
}

.btn {
  padding: 15px 20px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 30px;
}

.btn-border-right {
  border-radius: 30px 0 30px 30px;
}

.btn-border-left {
  border-radius: 0 30px 30px 30px;
}

.btn-xsm {
  border-radius: 100px;
  padding: 8px 12px;
  font-weight: 400 !important;
}

.btn-sm {
  padding: 6px 20px;
}

.btn-md {
  padding: 9px 22px;
}

.btn-lg {
  padding: 12px 33px;
  font-weight: 500 !important;
  font-size: 16px;
}

.btn-xl {
  padding: 15px 35px;
}

.btn-xxl {
  padding: 19px 42px;
  font-size: 24px;
}

.btn-primary {
  color: #FFF;
  background-color: #4A26FF;
}

.btn-black {
  color: #FFF;
  border: 1px solid #3E3E3E;
  background-color: #242424;
}

.btn-gray {
  color: #FFF;
  background-color: #85A7D0;
}

.btn-blue {
  border: 1px solid rgba(133, 167, 208, 0.33);
  background-color: #0085FF;
}

.btn-pink {
  background: #E1D4F8;
  color: #000;
}

.btn-lightGray {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #F6FAFF;
  color: #000;
}

.btn-lilac {
  background: #CBD0FF;
  color: rgba(0, 0, 0, 0.60);
}

.btn-white {
  border: 0.5px solid #DAEBFF;
  background: #FFF;
  color: #333B45;
}

.btn-offWhite {
  border: 1px solid rgba(133, 167, 208, 0.33);
  color: #3C3C3C;
}

.form-control {
  border-radius: 8px;
  padding: 13px 15px;
  background-color: white;
  font-weight: 300;
}

.form-control::placeholder {
  color: ;
}

.border-radius-50 {
  border-radius: 50px;
}

.border-radius-30 {
  border-radius: 30px;
}

.border-radius-20 {
  border-radius: 20px;
}

.logo-wrapper {
  height: 50px;
  width: 120px;
}

/* navbar */
.navbar {
  top: 40px;
  left: 0;
  right: 0;
}

.navbar .nav-link {
  transition: all 0.2s;
  font-weight: 400;
}

.nav-toggle-btn {
  padding: 8px;
}

/* hero-section */
.hero-section {
  padding: 20px 20px 10px 20px;
}

.hero-wrapper {
  padding-top: 150px;
  padding-bottom: 50px;
  background: url('/img/BG.png');
  background-color: #fff;
}

.hero-section .charges-box p {
  color: #30373E;
  font-size: 64.878px;
  font-weight: 700;
}

.hero-section .charges-box {
  padding: 15px 28px;
}

.hero-section .img-wrapper {
  width: 316px;
  position: absolute;
  bottom: 1px;
  left: 20px;
}

.bg-laptop {
  position: relative;
  height: 85px;
  width: 400px;
  border-radius: 60px;
  background: #DFE2FF;
}

.portfolio-box {
  border: 1px solid rgba(133, 167, 208, 0.33);
}

/* service-section */
.services-section {
  padding-left: 20px;
  padding-right: 20px;
}

.services-collection-box {
  background: url('/img/service-bg.png');
  background-color: #fff;
}

.service-bullets-border {
  border: 1px solid #85A7D054;
}

.service-card {
  background-color: #fff;
  padding: 30px 0px 20px 30px;
}

.service-card:hover {
  background-color: #0085FF;
}

/* about-section */
.about-section {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-wrapper {
  background: url('/img/About-BG.png');
  background-color: #000;
}

.figma-icon {
  border-radius: 18px;
  border: 1px solid #fff;
}

.img-about {
  height: 800px;
}

/* workflow-section */
.workflow-section {
  padding-left: 20px;
  padding-right: 20px;
}

.workflow-section .card {
  background-color: #fff;
  padding: 20px 80px;
}

/* trusted-section */
/* blog-section */
/* marquee-section */
/* book-now-section */
/* contact-section */
/* footer-section */

@media screen and (min-width: 1279.97px) {
  /* .container {
    max-width: 1280px;
  } */
}

@media screen and (max-width: 1279.97px) {}

@media screen and (max-width: 1023.97px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 120px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 24px;
  }

  .fs-14 {
    font-size: 13px;
  }

  .fs-16 {
    font-size: 15px;
  }

  .fs-18 {
    font-size: 16px;
  }

  .fs-20 {
    font-size: 18px;
  }

  /* .fs-35 {
    font-size: 31px;
  }

  .fs-38 {
    font-size: 38px;
  }

  .fs-80 {
    font-size: 70px;
  } */

  .py-30 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .pt-50 {
    padding-top: 44px;
  }

  .pb-40 {
    padding-bottom: 34px;
  }

  .pt-20 {
    padding-top: 18px;
  }

  .p-20 {
    padding: 18px;
  }

  .pt-40 {
    padding-top: 36px;
  }

  .pt-50 {
    padding-top: 45px;
  }

  .px-80 {
    padding-right: 70px;
    padding-left: 70px;
  }

  /* .pt-80 {
    padding-top: 70px;
  }

  .mt-40 {
    margin-top: 32px;
  }

  .my-35 {
    margin-top: 31px;
    margin-bottom: 31px;
  } */

  .px-40 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .border-radius-30 {
    border-radius: 26px;
  }

  .border-radius-20 {
    border-radius: 18px;
  }
}

@media screen and (max-width: 767.97px) {
  body {
    font-size: 17px;
  }

  h1 {
    font-size: 120px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 24px;
  }

  .fs-14 {
    font-size: 13px;
  }

  .fs-16 {
    font-size: 15px;
  }

  .fs-18 {
    font-size: 14px;
  }

  .fs-20 {
    font-size: 16px;
  }

  .fs-35 {
    font-size: 28px;
  }

  .fs-38 {
    font-size: 31px;
  }

  .fs-80 {
    font-size: 60px;
  }

  .py-30 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .pt-50 {
    padding-top: 40px;
  }

  .pb-40 {
    padding-bottom: 30px;
  }

  /* 
  .pt-20 {
    padding-top: 16px;
  }

  .p-20 {
    padding: 16px;
  }

  .pt-40 {
    padding-top: 33px;
  }

  .pt-50 {
    padding-top: 41px;
  }

  .mt-40 {
    margin-top: 26px;
  }

  .my-35 {
    margin-top: 28px;
    margin-bottom: 28px;
  } */

  .px-80 {
    padding-right: 62px;
    padding-left: 62px;
  }

  /* .pt-80 {
    padding-top: 62px;
  } */

  .px-40 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .border-radius-30 {
    border-radius: 24px;
  }

  .border-radius-20 {
    border-radius: 17px;
  }
}

@media screen and (max-width: 575.97px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 120px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 24px;
  }

  .fs-14 {
    font-size: 12px;
  }

  .fs-16 {
    font-size: 14px;
  }

  .fs-18 {
    font-size: 13px;
  }

  .fs-20 {
    font-size: 16px;
  }

  /* 
  .fs-35 {
    font-size: 26px;
  }

  .fs-38 {
    font-size: 29px;
  }

  .fs-80 {
    font-size: 55px;
  }

  .py-30 {
    padding-top: 20px;
    padding-bottom: 20px;
  } */

  .pt-50 {
    padding-top: 36px;
  }

  .pb-40 {
    padding-bottom: 27px;
  }

  /* 
  .pt-20 {
    padding-top: 14px;
  }

  .p-20 {
    padding: 14px;
  }

  .pt-40 {
    padding-top: 30px;
  }

  .pt-50 {
    padding-top: 38px;
  }

  .mt-50 {
    margin-top: 28;
  }

  .mt-40 {
    margin-top: 24px;
  }

  .my-35 {
    margin-top: 26px;
    margin-bottom: 26px;
  } */

  .px-80 {
    padding-right: 56px;
    padding-left: 56px;
  }

  /* .py-80 {
    padding-top: 56px;
    padding-bottom: 56px;
  } */

  .px-40 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .btn {
    padding: 7px 18px;
    font-size: 13px;
    border-radius: 9px;
  }

  .btn-lg {
    padding: 11px 18px;
    border-radius: 8px;
  }

  .btn-sm {
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 12px;
  }

  .btn-circle {
    padding: 12px;
  }

  .border-radius-30 {
    border-radius: 23px;
  }

  .border-radius-20 {
    border-radius: 16px;
  }
}

@media screen and (max-width: 399.97) {
  body {
    font-size: 15px;
  }

  h1 {
    font-size: 120px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 24px;
  }

  .fs-14 {
    font-size: 12px;
  }

  .fs-16 {
    font-size: 14px;
  }

  .fs-18 {
    font-size: 12px;
  }

  .fs-20 {
    font-size: 14px;
  }

  /* .fs-35 {
    font-size: 25px;
  }

  .fs-38 {
    font-size: 28px;
  }

  .fs-80 {
    font-size: 40px;
  }

  .py-30 {
    padding-top: 20px;
    padding-bottom: 20px;
  } */

  .pt-50 {
    padding-top: 32px;
  }

  .pb-40 {
    padding-bottom: 25px;
  }

  /* 
  .pt-20 {
    padding-top: 12px;
  }

  .p-20 {
    padding: 12px;
  }

  .pt-40 {
    padding-top: 27px;
  }

  .pt-50 {
    padding-top: 35px;
  }

  .mt-40 {
    margin-top: 20px;
  }

  .my-35 {
    margin-top: 25px;
    margin-bottom: 25px;
  } */

  .px-80 {
    padding-right: 50px;
    padding-left: 50px;
  }

  /* .py-80 {
    padding-top: 50px;
    padding-bottom: 50px;
  } */

  .px-40 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .btn {
    padding: 6px 17px;
    font-size: 12px;
    border-radius: 8px;
  }

  .btn-lg {
    padding: 10px 17px;
    border-radius: 8px;
  }

  .btn-sm {
    padding: 8px 18px;
    border-radius: 8px;
    font-size: 12px;
  }

  .btn-circle {
    padding: 11px;
  }

  .border-radius-30 {
    border-radius: 22px;
  }

  .border-radius-20 {
    border-radius: 15px;
  }
}