@import "tailwindcss";

body {
  font-size: ;
  font-weight: ;
  /* font-family: var(); */
  color: ;
  background: url(/images/Noise-&-Texture.png) no-repeat 50%, #fffcf9;
  background-size: cover;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
}

.font-one {
  font-family: var(--font-behind-nineties);
}

.font-two {
  font-family: var(--font-montserrat);
}

.font-three {
  font-family: var(--font-inter);
}

.text-one {
  color: #C38A3E;
}

.text-two {
  color: #911E3D;
}

.text-three {
  color: #1F1F1FCC;
}

.text-four {
  color: #3A3A3A;
}

.text-five {
  color: #1F1F1F;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 70px;
}

h3 {
  font-size: 45px;
}

h4 {
  font-size: 24px;
}

.fs-14 {
  font-size: 12px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-35 {
  font-size: 35px;
}

.fs-38 {
  font-size: 38px;
}

.fs-80 {
  font-size: 80px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-40 {
  margin-top: 40px;
}

.my-35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-20 {
  padding-top: 20px;
}

.p-20 {
  padding: 20px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.btn {
  padding: 10px 24px;
  font-size: 18px;
  border-radius: 12px;
  font-weight: 500;
}

.btn-primary {
  color: white;
  background-color: #911e3d;
}

.btn-lg {
  padding: 14px 24px;
  border-radius: 10px;
}

.btn-sm {
  padding: 10px 27px;
  border-radius: 8px;
  font-size: 14px;
}

.btn-circle {
  padding: 15px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.50);
  transition: all 0.3s ease-in-out;
}


.form-control {
  border-radius: 8px;
  padding: 13px 15px;
  background-color: white;
  font-weight: 300;
}

.form-control::placeholder {
  color: ;
}

.border-radius-20 {
  border-radius: 20px;
}

/* navbar */
.logo-wrapper {
  height: ;
  width: ;
}

.navbar {}

.navbar.scroll-down {}

.navbar.scroll-down .nav-container {}

.navbar .nav-container {}

.navbar .nav-link {
  padding: 10px 6px;
  transition: all 0.2s;
  font-weight: 400;
}

.nav-icon {}

.nav-toggle-btn {
  padding: ;
}

/* hero-section */

/* service-section */


/* product-section */


/* trusted-section */

/* blog-section */

/* marquee-section */

/* book-now-section */

/* contact-section */

/* footer-section */


@media screen and (min-width: 1279.97px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1279.97px) {
  .px-40 {
    padding-left: 20px;
    padding-right: 20px;
  }

}

@media screen and (max-width: 1023.97px) {
  body {
    font-size: ;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 22px;
  }

  .fs-14 {
    font-size: 13px;
  }

  .fs-16 {
    font-size: 15px;
  }

  .fs-18 {
    font-size: 16px;
  }

  .fs-20 {
    font-size: 18px;
  }

  .fs-35 {
    font-size: 31px;
  }

  .fs-38 {
    font-size: 38px;
  }

  .fs-80 {
    font-size: 70px;
  }

  .py-40 {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .pt-20 {
    padding-top: 18px;
  }

  .p-20 {
    padding: 18px;
  }

  .pt-40 {
    padding-top: 36px;
  }

  .pt-50 {
    padding-top: 45px;
  }

  .py-80 {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .pt-80 {
    padding-top: 70px;
  }

  .mt-40 {
    margin-top: 32px;
  }

  .my-35 {
    margin-top: 31px;
    margin-bottom: 31px;
  }

  .px-40 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn {
    padding: 9px 22px;
    font-size: 16px;
    border-radius: 11px;
  }

  .btn-lg {
    padding: 14px 24px;
    border-radius: 10px;
  }

  .btn-sm {
    padding: 9px 24px;
    border-radius: 8px;
    font-size: 14px;
  }

  .btn-circle {
    padding: 14px;
  }

  .border-radius-20 {
    border-radius: 18px;
  }

  .navbar {
    width: calc(100% - 80px);
    top: 35px;
  }

  .logo-wrapper {
    width: 100px;
    height: 42px;
  }

  .navbar .nav-container {
    border-radius: 9px;
    padding: 7px 16px;
  }

  .hero-section .background-wrapper {
    padding-top: 130px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .book-appointment {
    padding: 16px 25px;
  }

  .book-appointment:before {
    border-radius: 18px;
  }

  .product-card .img-wrapper,
  .service-card .img-wrapper {
    height: 440px;
    width: 100%;
  }

  .marquee-section .img-wrapper,
  Image {
    width: 180px;
    height: 75px;
    border-radius: 10px;
  }

  .marquee-section h3 {
    font-size: 60px;
    border-radius: 10px;
  }

  .book-now-section .background-wrapper {
    padding: 58px 45px 0;
  }

  .contact-section .item:nth-child(3) {
    padding-left: 0;
    border-color: transparent;
  }

  .custom-bullet {
    width: 85px !important;
    height: 7px !important;
    border-radius: 18px !important;
  }

  .contact-section .item {
    padding: 24px 30px;
    border-left: 1px solid #dfdfdf;
  }
}

@media screen and (max-width: 767.97px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 20px;
  }

  .fs-14 {
    font-size: 13px;
  }

  .fs-16 {
    font-size: 15px;
  }

  .fs-18 {
    font-size: 14px;
  }

  .fs-20 {
    font-size: 16px;
  }

  .fs-35 {
    font-size: 28px;
  }

  .fs-38 {
    font-size: 31px;
  }

  .fs-80 {
    font-size: 60px;
  }

  .py-40 {
    padding-top: 33px;
    padding-bottom: 33px;
  }

  .pt-20 {
    padding-top: 16px;
  }

  .p-20 {
    padding: 16px;
  }

  .pt-40 {
    padding-top: 33px;
  }

  .pt-50 {
    padding-top: 41px;
  }

  .mt-40 {
    margin-top: 26px;
  }

  .my-35 {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .py-80 {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .pt-80 {
    padding-top: 62px;
  }

  .px-40 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .btn {
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 10px;
  }

  .btn-lg {
    padding: 12px 20px;
    border-radius: 9px;
  }

  .btn-sm {
    padding: 9px 22px;
    border-radius: 8px;
    font-size: 10px;
  }

  .btn-circle {
    padding: 13px;
  }

  .border-radius-20 {
    border-radius: 16px;
  }

  .navbar {
    width: calc(100% - 60px);
    top: 31px;
  }

  .navbar .nav-container {
    border-radius: 9px;
    padding: 7px 14px;
  }

  .logo-wrapper {
    width: 85px;
    height: 35px;
  }

  .hero-section .background-wrapper {
    padding-top: 115px;
    padding-left: 31px;
    padding-right: 31px;
  }

  .book-appointment {
    padding: 13px 21px;
  }

  .book-appointment:before {
    border-radius: 16px;
  }

  .product-card .img-wrapper,
  .service-card .img-wrapper {
    height: 435px;
    width: 100%;
  }

  .marquee-section .img-wrapper,
  Image {
    width: 160px;
    height: 65px;
    border-radius: 10px;
  }

  .marquee-section h3 {
    font-size: 50px;
    border-radius: 10px;
  }

  .book-now-section .background-wrapper {
    padding: 55px 30px 0;
  }

  .contact-section .item:nth-child(3) {
    padding-left: 0;
    border-color: transparent;
  }

  .custom-bullet {
    width: 75px !important;
    height: 7px !important;
    border-radius: 16px !important;
  }

  .contact-section .item {
    padding: 20px 24px;
  }
}

@media screen and (max-width: 575.97px) {
  body {
    font-size: 13px;
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 33px;
  }

  h4 {
    font-size: 19px;
  }

  .fs-14 {
    font-size: 12px;
  }

  .fs-16 {
    font-size: 14px;
  }

  .fs-18 {
    font-size: 13px;
  }

  .fs-20 {
    font-size: 16px;
  }

  .fs-35 {
    font-size: 26px;
  }

  .fs-38 {
    font-size: 29px;
  }

  .fs-80 {
    font-size: 55px;
  }

  .py-40 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .pt-20 {
    padding-top: 14px;
  }

  .p-20 {
    padding: 14px;
  }

  .pt-40 {
    padding-top: 30px;
  }

  .pt-50 {
    padding-top: 38px;
  }

  .mt-50 {
    margin-top: 28;
  }

  .mt-40 {
    margin-top: 24px;
  }

  .my-35 {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .py-80 {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .py-80 {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .px-40 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .btn {
    padding: 7px 18px;
    font-size: 13px;
    border-radius: 9px;
  }

  .btn-lg {
    padding: 11px 18px;
    border-radius: 8px;
  }

  .btn-sm {
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 12px;
  }

  .btn-circle {
    padding: 12px;
  }

  .border-radius-20 {
    border-radius: 15px;
  }

  .navbar {
    width: calc(100% - 40px);
    top: 28px;
  }

  .navbar .nav-container {
    border-radius: 8px;
    padding: 6px 13px;
  }

  .logo-wrapper {
    width: 70px;
    height: 29px;
  }

  .hero-section .background-wrapper {
    padding-top: 105px;
    padding-left: 28px;
    padding-right: 28px;
  }

  .book-appointment {
    padding: 11px 18px;
  }

  .book-appointment:before {
    border-radius: 15px;
  }

  .product-card .img-wrapper,
  .service-card .img-wrapper {
    height: 430px;
    width: 100%;
  }

  .marquee-section .img-wrapper,
  Image {
    width: 140px;
    height: 65px;
    border-radius: 10px;
  }

  .marquee-section h3 {
    font-size: 45px;
    border-radius: 10px;
  }

  .book-now-section .background-wrapper {
    padding: 52px 20px 0;
  }

  .contact-section .item:nth-child(3) {
    padding-left: 0;
    border-color: transparent;
  }

  .custom-bullet {
    width: 65px !important;
    height: 6px !important;
    border-radius: 15px !important;
  }

  .contact-section .item {
    padding: 18px 22px;
  }
}

@media screen and (max-width: 399.97) {
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 18px;
  }

  .fs-14 {
    font-size: 12px;
  }

  .fs-16 {
    font-size: 14px;
  }

  .fs-18 {
    font-size: 12px;
  }

  .fs-20 {
    font-size: 14px;
  }

  .fs-35 {
    font-size: 25px;
  }

  .fs-38 {
    font-size: 28px;
  }

  .fs-80 {
    font-size: 40px;
  }

  .py-40 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .pt-20 {
    padding-top: 12px;
  }

  .p-20 {
    padding: 12px;
  }

  .pt-40 {
    padding-top: 27px;
  }

  .pt-50 {
    padding-top: 35px;
  }

  .mt-40 {
    margin-top: 20px;
  }

  .my-35 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .py-80 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .py-80 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .px-40 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .btn {
    padding: 6px 17px;
    font-size: 12px;
    border-radius: 8px;
  }

  .btn-lg {
    padding: 10px 17px;
    border-radius: 8px;
  }

  .btn-sm {
    padding: 8px 18px;
    border-radius: 8px;
    font-size: 12px;
  }

  .btn-circle {
    padding: 11px;
  }

  .border-radius-20 {
    border-radius: 14px;
  }

  .navbar {
    width: calc(100% - 30px);
    top: 25px;
  }

  .logo-wrapper {
    width: 70px;
    height: 29px;
  }

  .navbar .nav-container {
    border-radius: 8px;
    padding: 6px 12px;
  }

  .hero-section .background-wrapper {
    padding-top: 95px;
    padding-left: 26px;
    padding-right: 26px;
  }

  .book-appointment {
    padding: 10px 15px;
  }

  .book-appointment:before {
    border-radius: 14px;
  }

  .product-card .img-wrapper,
  .service-card .img-wrapper {
    height: 400px;
    width: 100%;
  }

  .marquee-section .img-wrapper,
  Image {
    width: 130px;
    height: 55px;
    border-radius: 10px;
  }

  .marquee-section h3 {
    font-size: 35px;
    border-radius: 10px;
  }

  .book-now-section .background-wrapper {
    padding: 50px 15px 0;
  }

  .contact-section .item:nth-child(3) {
    padding-left: 0;
    border-color: transparent;
  }

  .custom-bullet {
    width: 60px !important;
    height: 6px !important;
    border-radius: 14px !important;
  }

  .contact-section .item {
    padding: 16px 20px;
  }
}